<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="icon" href="/static/favicon.ico">
	
	<title>VenYa Lost Password</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<!-- <link href="/static/css/signin.css" rel="stylesheet"> -->
	<link href="/static/css/arturo.css" rel="stylesheet">
	
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
		<script type="text/javascript" src="/static/common/languages.js"></script>
	
	<script type="text/javascript" src="/static/common/parsing.js"></script>
	<script type="text/javascript">
	var lang = default_lang;
	var myLangTexts;

	/* function setFormErrorHeader(params,langTexts) {
		var notErrorFields = { "status": "status", "errormessage": "errormessage", "action": "action", "sessionid": "sessionid", "lang": "lang" };

		if (params["status"] == "ERROR") {
			if (params["errormessage"] == "input") {
				setHeader("h2",formatMessage([langTexts["errors"]["badfields"]]));
				for (var field in params) {
					if ( field != "status" && !(field in notErrorFields)) {
						var headText = formatMessage([langTexts["customer"][field],":",params[field]]);
						setHeader("h5",headText);
					}
				}
			} else {
				setHeader("h4",unescape(params["errormessage"]));
			}
		}
	}*/

	function init() {
		parseUrl();
		if ( urlParams["lang"] != undefined && languages.indexOf(urlParams["lang"]) > -1 ) {
			lang = urlParams["lang"];
		}
		myLangTexts = languages_text[lang];

		setFormErrorHeader(urlParams,myLangTexts);
		/* if (urlParams["status"] == "ERROR") {
			if (urlParams["errormessage"] == "input") {
				setHeader("h2","Please double check the following fields:");
				for (var field in urlParams) {
					if ( field != "status" && field != "errormessage" ) {
						setHeader("h5",field + ": " + urlParams[field]);
					}
				}
			} else {
				setHeader("h4",unescape(urlParams["errormessage"]));
			}
		} */
	}
	function getPassword(){
		var attList = ['id','type','name','address','phone','username','password'];
		var credList = ['username','password'];
		var form = document.querySelector("form");
		var username = form.elements.inputUsername.value;
		//var usernameFormat = new RegExp("^\w{8,}$","g");
		var email = form.elements.inputEmail.value;
		var confirmEmail = form.elements.confirmEmail.value;
		
		var error = {};
		if ( ! usernameFormat.test(username) ) error["username"] = myLangTexts["errors"]["usernameformat"];
		if ( email == "" ) { error["email"] = formatMessage([myLangTexts["customer"]["email"],myLangTexts["errors"]["required"]]); }
		else { if ( email != confirmEmail ) error["email"] = formatMessage([myLangTexts["customer"]["email"],myLangTexts["errors"]["notmatch"]]); }
		
		if ( Object.keys(error).length > 0 ) {
			var errorUrl = location.href.split('?')[0] + "?lang=" + lang + "&status=ERROR&errormessage=input";
			for ( var field in error ) {
				errorUrl += "&" + field + "=" + escape(error[field]);
			}
			//var errorUrl = location.href.hostname + location.href.path;
			//console.log("errorUrl = " + errorUrl);
			location.href = errorUrl;
		} else {
			var xhr = new XMLHttpRequest();
			//var myUrl = "http://" + venya_node_server + ":" + venya_node_port + "/getLostPassword?" +
			var myUrl = "http://" + venya_node_server + ":" + venya_node_port + "/getLostCredentials?" +
			"&username=" + username +
			"&email=" + email;
			xhr.open('GET',myUrl,true);
			//xhr.setRequestHeader('Access-Control-Allow-Origin','*');
			xhr.send();
			xhr.onreadystatechange = processRequest;
			
			function processRequest(e) {
				if (xhr.readyState == 4) {
					if (xhr.status == 200) {
						//console.log(xhr.responseText);
						var response = JSON.parse(xhr.responseText);
						var successUrl = "./show_lost_info.html?lang=" + lang + "&password=" + response["password"] + "&message=" + escape(response["errormessage"]);
						location.href=successUrl;
						//document.body.appendChild(document.createTextNode("email sent to " + email));
					} else {
						var response = JSON.parse(xhr.responseText);
						var errorUrl = "./lostPassword.html?lang=" + lang + "&status=" + response["status"] + "&message=" + escape(response["errormessage"]);
						location.href=errorUrl;
					}
				}
			}
		}
	}
	</script>
</head>

<body>
	<script>init();</script>
	
	<div class="container">
	
	<form class="form-signin">
		<h2 id="formHeader" class="form-signin-heading"><script>javascript:displayForm("formHeader",formatMessage([myLangTexts["form"]["enterdetails"]])</script></h2>
		
		<input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
		<label for="inputUsername" class="sr-only"><script>displayForm("inputUsername",formatMessage([myLangTexts["customer"]["username"]]))</script></label>
		
		<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		<label for="inputEmail" class="sr-only"><script>displayForm("inputEmail",formatMessage([myLangTexts["customer"]["email"]]))</script></label>
		
		<input type="email" id="confirmEmail" class="form-control" placeholder="Confirm Email address" required autofocus>
		<label for="confirmEmail" class="sr-only"><script>displayForm("confirmEmail",formatMessage([myLangTexts["form"]["confirm"],myLangTexts["customer"]["email"]]))</script></label>	
		
		<button id="submitButton" class="btn btn-lg btn-primary btn-block" type="button" onclick="getPassword()"><script>displayForm("submitButton",formatMessage([myLangTexts["form"]["submit"]]))</script></button>
	</form>
	
	</div> <!-- /container -->
	<div class="links">
		<p id="already"><script>javascript:document.getElementById("already").append(formatMessage([myLangTexts["signin"]["already"]]))</script></p>
		<a id="signin" href="javascript:goTo(pages.signin,{'lang' : lang})"><script>displayForm("signin",formatMessage([myLangTexts["signin"]["button"]]))</script></a>
	</div>
	
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
