<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	
    <link rel="icon" href="/static/favicon.ico">

    <title>VenYa Lost Username</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/static/css/signin.css" rel="stylesheet"> -->
    <link href="/static/css/arturo.css" rel="stylesheet">
	
  </head>
	<!-- <script src="C:\Users\arturo\Documents\R2RO\VenYa\Node_js\mongodb-test\specialist.js"></script> -->
<script type="text/javascript" src="/static/common/parsing.js"></script>
<script type="text/javascript">
	function getUsername(){
		//var attList = ['id','type','name','address','phone','username','password'];
		//var credList = ['username','password'];
		var form = document.querySelector("form");
		var name = form.elements.inputName.value;
		var email = form.elements.inputEmail.value;
		var password = form.elements.inputPassword.value;
		
		var error = {};
		if ( name == "" ) error["name"] = "name is required";
		if ( email == "" ) error["email"] = "email is required";
		if ( password == "" ) error["password"] = "password is required";
		
		if ( Object.keys(error).length > 0 ) {
			var errorUrl = location.href.split('?')[0] + "?status=ERROR&errormessage=input";
			for ( var field in error ) {
				errorUrl += "&" + field + "=" + escape(error[field]);
			}
			//var errorUrl = location.href.hostname + location.href.path;
			//console.log("errorUrl = " + errorUrl);
			location.href = errorUrl;
		} else {		
			var xhr = new XMLHttpRequest();
			var myUrl = "http://192.168.99.100:8888/getLostCredentials?" +
						"&name=" + name + 
						"&email=" + email + 
						"&password=" + password;
			xhr.open('GET',myUrl,true);
			//xhr.setRequestHeader('Access-Control-Allow-Origin','*');
			xhr.send();
			xhr.onreadystatechange = processRequest;
			
			function processRequest(e) {
				if (xhr.readyState == 4) {
					if (xhr.status == 200) {
						//console.log(xhr.responseText);
						var response = JSON.parse(xhr.responseText);
						var successUrl = "./show_lost_info.html?username=" + response["username"] + "&message=" + escape(response["errormessage"]);
						location.href=successUrl;
						//document.body.appendChild(document.createTextNode("email sent to " + email));
					} else {
						var response = JSON.parse(xhr.responseText);
						var errorUrl = "./lostUsername.html?status=" + response["status"] + "&errormessage=" + escape(response["errormessage"]);
						location.href=errorUrl;						
					}
				}
			}
		}
	}
</script>

  <body>
	<script>
		parseUrl();
		if (urlParams["status"] == "ERROR") {
			if (urlParams["errormessage"] == "input") {
				setHeader("h2","Please double check the following fields:");
				for (var field in urlParams) {
					if ( field != "status" && field != "errormessage" ) {
						setHeader("h5",field + ": " + urlParams[field]);
					}
				}
			} else {
				setHeader("h4",unescape(urlParams["errormessage"]));
			}
		}
	</script>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please enter your details</h2>
		
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
		
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
		
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
		
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="getUsername()">SUBMIT</button>
      </form>

    </div> <!-- /container -->
	<div class="links">
		Already have an account? <a href="./signin.html">Log in</a>
	</div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
