<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>VenYa Change Email</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<!-- <link href="/static/css/signin.css" rel="stylesheet"> -->
	<link href="/static/css/arturo.css" rel="stylesheet">
	
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
	
	<script type="text/javascript" src="/static/common/parsing.js"></script>
	<script type="text/javascript">
	var changeField;
	var sessionid;
	var myLangTexts;
	var lang = default_lang;
	var errorcount;

	function init() {
		var notErrorFields = { "status": "status", "errormessage": "errormessage", "action": "action", "sessionid": "sessionid", "lang" : "lang" };
		parseUrl();
		sessionid = urlParams["sessionid"];
		if ( urlParams["lang"] != undefined && languages.indexOf(urlParams["lang"]) > -1 ) {
			lang = urlParams["lang"];
		}
		myLangTexts = languages_text[lang];
		customerId = sessionid.substring(0,sessionid.length - 2);

		changeField = urlParams["field"];
		//verifySessionId(sessionid, setFormErrorHeader(urlParams,myLangTexts));
		verifySessionId(sessionid, "customer", function(urlParams,myLangTexts) {
			setFormErrorHeader(urlParams,myLangTexts);
		});
	}
	
	function readForm() {
		var form = document.querySelector("form");
		var oldEmail = form.elements.oldEmail.value;
		var email = form.elements.inputEmail.value;
		var confirmEmail = form.elements.confirmEmail.value;
		
		clear_error("confirmEmailErrors","confirmEmail");
		clear_error("emailErrors","inputEmail");
		errorcount = 0;

		if ( email != confirmEmail ) { 
			format_error("confirmEmailErrors","confirmEmail",formatMessage([myLangTexts["customer"]["email"],myLangTexts["customer"]["address"] + "es",myLangTexts["errors"]["notmatch"]]));
		} else if ( oldEmail == email ) {
			format_error("emailErrors","inputEmail",formatMessage([myLangTexts["form"]["new"],myLangTexts["customer"]["email"],myLangTexts["errors"]["sameprevious"]]));
		}
	
		if ( errorcount > 0 ) {
			return false;
		} else {
			var values = {};
			values["id"] = customerId;
			values["field"] = "email";
			values["oldvalue"] = oldEmail;
			values["newvalue"] = email;
			update(values);
		}
	}
	
	function update(values) {
		var id = values["id"];
		var field = values["field"];
		var oldvalue = values["oldvalue"];
		var newvalue = values["newvalue"];
		
		var xhr = new XMLHttpRequest();
		var myUrl = "http://" + venya_node_server + ":" + venya_node_port + "/updateSetting?type=customer&action=update&id=" + id + "&field=" + field + "&newvalue=" + newvalue;
		if ( oldvalue != undefined ) myUrl += "&oldvalue=" + oldvalue;
		xhr.open('GET',myUrl,true);
		xhr.send();
		xhr.onreadystatechange = processRequest;
		
		function processRequest(e) {
			if (xhr.readyState == 4) {
				if (xhr.status == 200) {
					//console.log(xhr.responseText);
					var response = JSON.parse(xhr.responseText);
					
					var gotoParams = {};
					gotoParams["sessionid"] = sessionid;
					gotoParams["action"] = response["action"];
					gotoParams["lang"] = lang;
					gotoParams["updatefield"] = field;
					/*for (var field in response) {
						if ( field != "status" ) gotoParams[field] = response[field];
					}*/
					goTo(pages.settings,gotoParams);
				} else {
					try {
						var response = JSON.parse(xhr.responseText);
						var gotoParams = {};
						document.getElementById("errors").innerHTML = formatMessage([myLangTexts["errors"][response["errormessage"]]]);
						return false;
					} catch (err) {
						document.getElementById("errors").innerHTML = formatMessage([myLangTexts["errors"]["dbcnxerror"]]);
						return false;
					}
				}
			}
		}
	}
	</script>
	<script type="text/javascript" src="/static/common/languages.js"></script>
</head>

<body>
	<script>init();</script>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU<span class="caret"></span></button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<!-- <li><a href="./home.html?action=home&name=Arturo">Home</a></li> -->
                <li><a id="menuHome" href="javascript:goTo(pages.home,{'action': 'home', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuHome",myLangTexts["menu"]["home"])</script></a></li>
                <li><a id="menuAppointments" href="javascript:goTo(pages.appointments,{'action': 'appointments', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuAppointments",myLangTexts["menu"]["appointments"])</script></a></li>
                <li><a id="menuNotifications" href="javascript:goTo(pages.notifications,{'action': 'notifications', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuNotifications",myLangTexts["menu"]["notifications"])</script></a></li>
                <li><a id="menuSettings" href="javascript:goTo(pages.settings,{'action': 'settings', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuSettings",myLangTexts["menu"]["settings"])</script></a></li>
                <li role="separator" class="divider"></li>
                <li><a id="menuLogout" href="javascript:goTo(pages.logout,{'sessionid' : sessionid,'lang' : lang})"><script>javascript:displayMenu("menuLogout",myLangTexts["menu"]["logout"])</script></a></li>
		</ul>
	</div>

	<div class="subscriberarea" id="area">
		<p><script>javascript:document.getElementById("area").innerHTML = myLangTexts["zone"]["customer"].toUpperCase()</script></p>
	</div>

	<div class="errors" id="errors"></div>	
	<div class="container">
	
		<form class="form-signin" onsubmit="readForm();return false">
		<h2 id="formHeader" class="form-signin-heading"><script>javascript:displayMenu("formHeader",myLangTexts["form"]["enterdetails"])</script></h2>
		
		<fieldset>
		<input type="email" id="oldEmail" class="form-control" oninput="setCustomValidity('')" oninvalid="invalid_email(this,myLangTexts)" placeholder="Old Email" required autofocus>
		<label for="oldEmail" class="sr-only"><script>javascript:displayForm("oldEmail",myLangTexts["form"]["oldemail"])</script></label>
		</fieldset>
		
		<fieldset>
		<input type="email" id="inputEmail" class="form-control" oninput="setCustomValidity('')" oninvalid="invalid_email(this,myLangTexts)" placeholder="New Email" required autofocus>
		<label for="inputEmail" class="sr-only"><script>javascript:displayForm("inputEmail",myLangTexts["form"]["newemail"])</script></label>
		<span id="emailErrors" style="display: none"></span>
		</fieldset>
		
		<fieldset>
		<input type="email" id="confirmEmail" class="form-control" oninput="setCustomValidity('')" oninvalid="invalid_email(this,myLangTexts)" placeholder="Confirm email" required autofocus>
		<label for="confirmEmail" class="sr-only"><script>javascript:displayForm("confirmEmail",formatMessage([myLangTexts["form"]["confirm"],myLangTexts["form"]["newemail"]]))</script></label>
		<span id="confirmEmailErrors" style="display: none"></span>
		</fieldset>
	
		<button id="formButton" class="btn btn-lg btn-primary btn-block" type="submit"><script>javascript:displayMenu("formButton",myLangTexts["form"]["submit"].toUpperCase())</script></button>
		<a id="cancelButton" href="javascript:goTo(pages.settings,{'sessionid' : sessionid, 'lang' : lang})" style="text-align:center"><script>javascript:displayMenu("cancelButton",myLangTexts["form"]["cancel"].toUpperCase())</script></a>
<!--
		<button id="cancelButton" class="btn btn-lg btn-primary btn-block" type="button" onclick="goTo(pages.settings,{'sessionid' : sessionid, 'lang' : lang})"><script>javascript:displayMenu("cancelButton",myLangTexts["form"]["cancel"].toUpperCase())</script></button>
-->
	</form>
	
	</div>
	<!--
	<div class="links">
	Already have an account? <a href="./signin.html">Log in</a>
	</div>
	-->
	
	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery.min.js" />')</script></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>></script>
	
</body>
</html>
