<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="icon" href="/static/favicon.ico">
	
	<title>VenYa Lost Username</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<!-- <link href="/static/css/signin.css" rel="stylesheet"> -->
	<link href="/static/css/arturo.css" rel="stylesheet">
	
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
		<script type="text/javascript" src="/static/common/languages.js"></script>
	<!-- <script src="C:UsersarturoDocumentsR2ROVenYaNode_jsmongodb-testspecialist.js"></script> -->
	<script type="text/javascript" src="/static/common/parsing.js"></script>
	<script type="text/javascript">
	var lang = default_lang;
	var myLangTexts;

	function init() {
		parseUrl();
		if ( urlParams["lang"] != undefined && languages.indexOf(urlParams["lang"]) > -1 ) {
			lang = urlParams["lang"];
		}
		myLangTexts = languages_text[lang];

		setFormErrorHeader(urlParams,myLangTexts);
	}	
	function getUsername(){
		//var attList = ['id','type','name','address','phone','username','password'];
		//var credList = ['username','password'];
		var form = document.querySelector("form");
		var name = form.elements.inputName.value;
		var email = form.elements.inputEmail.value;
		var password = form.elements.inputPassword.value;
		
		var myUrl = "http://" + venya_node_server + ":" + venya_node_port + "/getLostCredentials?" +
		"&surname=" + name +
		"&email=" + email +
		"&password=" + password;
		var errUrl = pages.lostusername;
		//console.log("errUrl = " + errUrl);
		getCredentialsProcessRequest(myUrl,'username',lang,"errors");
	}
	</script>
</head>

<body>
	<script>init();</script>
	
	<div class="errors" id="errors"></div>
	<div class="container">
	<form class="form-signin" onsubmit="getUsername();return false">
		<h2 id="formHeader" class="form-signin-heading"><script>javascript:displayForm("formHeader",formatMessage([myLangTexts["form"]["enterdetails"]]))</script></h2>
	
		<input type="text" id="inputName" class="form-control" oninput="setCustomValidity('')" oninvalid="required_field_empty(this,myLangTexts['customer']['surname'],myLangTexts)"placeholder="Surname" required autofocus>
		<label for="inputName" class="sr-only"><script>displayForm("inputName",formatMessage([myLangTexts["customer"]["surname"]]))</script></label>
		
		<input type="email" id="inputEmail" class="form-control" oninput="setCustomValidity('')" oninvalid="invalid_email(this,myLangTexts)"placeholder="Email address" required autofocus>
		<label for="inputEmail" class="sr-only"><script>displayForm("inputEmail",formatMessage([myLangTexts["customer"]["email"]]))</script></label>
		
		<input type="password" id="inputPassword" class="form-control" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" oninput="field_format_check(this,formatMessage([myLangTexts['errors']['passwordformat']]))" oninvalid="required_field_empty(this,myLangTexts['customer']['password'],myLangTexts)" placeholder="Password" required>
		<label for="inputPassword" class="sr-only"><script>displayForm("inputPassword",formatMessage([myLangTexts["customer"]["password"]]))</script></label>
	
		<button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit"><script>displayForm("submitButton",formatMessage([myLangTexts["form"]["submit"]]))</script></button>
	</form>
	
	</div> <!-- /container -->
	<div id="links" class="links">
		<p id="already"><script>javascript:document.getElementById("already").append(formatMessage([myLangTexts["signin"]["already"]]))</script></p>
		<a id="signin" href="javascript:goTo(pages.signin,{'lang' : lang})"><script>displayForm("signin",formatMessage([myLangTexts["signin"]["button"]]))</script></a>
	</div>
	
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
