<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	<title>VenYa Home</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	<link href="/static/css/navbar.css" rel="stylesheet">
	<link href="/static/css/arturo.css" rel="stylesheet">

	<script src="/static/js/ie-emulation-modes-warning.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
	<script type="text/javascript" src="/static/common/parsing.js"></script>
	<script type="text/javascript">
		var sessionid;
		var lang;
		var myLangTexts;
		function init() {
			parseUrl();
			
			sessionid = urlParams["sessionid"];
			lang = urlParams["lang"].toLowerCase();
			myLangTexts = languages_text[lang];
			customerid = urlParams["customerid"]
			
			verifySessionId(sessionid, "provider", function() {
				providerId = sessionid.substring(0,sessionid.length - 2);
				getSubscriberDetails( "home", providerId, "provider", function () {
					console.log(JSON.stringify(subscriberDetails));
					providerId = subscriberDetails["id"];
					myLangTexts;
					var action = urlParams["action"];
					var headerText = formatMessage([myLangTexts["action"][subscriberDetails["action"]]]);
					setHeader("h2",headerText);
					headerText = formatMessage([unescape(subscriberDetails["name"]).toUpperCase()]);
					setHeader("h2",headerText);

					if ( action == "webcreation" ) {
						headerText = formatMessage([myLangTexts["provider"]["webcreation"],".",myLangTexts["customer"]["id"],customerid]);
						setHeader("h2",headerText);
					} else if ( action != "home" ) {
						headerText = formatMessage([myLangTexts["home"]["welcome"]]);
						setHeader("h2",headerText);
					}

					//if ( action != "home" ) headerText += "\n" + formatMessage([myLangTexts["home"]["welcome"]]);
					//headerText = formatMessage([headerText,unescape(subscriberDetails["name"].toUpperCase())]).replace(/ ,/,',');
					setHeader("h4",myLangTexts["home"]["yourdata"]);
					createDataTable(subscriberDetails, lang, action);
				});
			});
		}
	</script>
	<script type="text/javascript" src="/static/common/languages.js"></script>
</head>
<body class="provider">
	<script>init();</script>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU<span class="caret"></span></button>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li><a id="menuHome" href="javascript:goTo(pages.provider.home,{'action': 'home', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuHome",myLangTexts["menu"]["home"])</script></a></li>
                <li><a id="menuAppointments" href="javascript:goTo(pages.provider.appointments,{'action': 'appointments', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuAppointments",myLangTexts["menu"]["appointments"])</script></a></li>
                <li><a id="menuCreateCustomer" href="javascript:goTo(pages.provider.createcustomer,{'action': 'createcustomer', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuCreateCustomer",myLangTexts["menu"]["createcustomer"])</script></a></li>
                <li><a id="menuSettings" href="javascript:goTo(pages.provider.settings,{'action': 'settings', 'sessionid': sessionid, 'lang' : lang})"><script>javascript:displayMenu("menuSettings",myLangTexts["menu"]["settings"])</script></a></li>
                <li role="separator" class="divider"></li>
                <li><a id="menuLogout" href="javascript:goTo(pages.provider.logout,{'sessionid' : sessionid,'lang' : lang})"><script>javascript:displayMenu("menuLogout",myLangTexts["menu"]["logout"])</script></a></li>
		</ul>
	</div>
	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery.min.js"/>')</script></script>
	<script src="/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
