<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- <link rel="icon" href="/static/favicon.ico"> -->
	
	<title>VenYa Registration</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<!-- <link href="/static/css/signin.css" rel="stylesheet"> -->
	<link href="/static/css/arturo.css" rel="stylesheet">
	
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
	<!-- <script src="C:UsersarturoDocumentsR2ROVenYaNode_jsmongodb-testspecialist.js"></script> -->
	<script type="text/javascript" src="/static/common/parsing.js"></script>
	<script type="text/javascript">
	var sessionid;
	var lang = default_lang;
	var myLangTexts;

	function init() {
		parseUrl();
		if ( urlParams["lang"] != undefined && languages.indexOf(urlParams["lang"]) ) {
			lang = urlParams["lang"];
		}
		myLangTexts = languages_text[lang];

		setFormErrorHeader(urlParams,myLangTexts);
		var action = urlParams["action"];
	}

	function register(){
	//var attList = ['_id','type','name','email','phone','username','password'];
		var credList = ['username','password'];
		var form = document.querySelector("form");
		var id = form.elements.id.value;
		var username = form.elements.inputUsername.value;
		var surname = form.elements.inputName.value.toLowerCase();
		var email = form.elements.inputEmail.value.toLowerCase();
		var confirmEmail = form.elements.confirmEmail.value.toLowerCase();
		var phone = form.elements.inputPhone.value;
		var password = form.elements.inputPassword.value;
		var confirmPassword = form.elements.confirmPassword.value;
		var objectConstructor = {}.constructor;
		
		var error = {};
		if ( id == "" ) { error["id"] = formatMessage([myLangTexts["customer"]["id"],myLangTexts["errors"]["required"]]); }
		else if ( ! objectidFormat.test(id) ) error["uid"] = formatMessage(myLangTexts["errors"]["badformat"],[myLangTexts["customer"]["id"]]);

		if ( ! usernameFormat.test(username) ) error["username"] = myLangTexts["errors"]["usernameformat"];
		if ( surname == "" ) { error["surname"] = formatMessage([myLangTexts["customer"]["surname"],myLangTexts["errors"]["required"]]); }

		if ( email == "" ) { error["email"] = formatMessage([myLangTexts["customer"]["email"],myLangTexts["errors"]["required"]]); }
		else { 
			if ( email != confirmEmail ) error["email"] = formatMessage([myLangTexts["customer"]["email"],myLangTexts["errors"]["notmatch"]]); 
			else {
				if ( ! emailFormat.test(email) ) error["email"] = myLangTexts["errors"]["emailformat"];
			}
		}
			
		if ( phone != "" && ! phoneFormat.test(phone) ) error["phone"] = myLangTexts["errors"]["phoneformat"];
		phone = phone.replace(/\+/,'%2B');

		if ( password == "" ) { error["password"] = formatMessage([myLangTexts["customer"]["password"],myLangTexts["errors"]["required"]]); }
		else {
			if ( password != confirmPassword ) error["password"] = formatMessage([myLangTexts["customer"]["password"],"s",myLangTexts["errors"]["notmatch"]]).replace(/ s/,'s');
			else {
				if ( ! passwordFormat.test(password) ) error["password"] = myLangTexts["errors"]["passwordformat"];
			}
		}

		if ( Object.keys(error).length > 0 ) {
			var errorUrl = location.href.split('?')[0] + "?status=ERROR&errormessage=input&id=" + id + "&lang=" + lang;
			if ( urlParams["action"] == "webcreation" ) {
				errorUrl += "&" + "action=" + urlParams["action"];
			}
			for ( var field in error ) {
				errorUrl += "&" + field + "=" + escape(error[field]);
			}
		//var errorUrl = location.href.hostname + location.href.path;
			console.log("errorUrl = " + errorUrl);
			location.href = errorUrl;
		} else {
			var xhr = new XMLHttpRequest();
			var myUrl = "http://" + venya_node_server + ":" + venya_node_port + "/register?type=customer" +
				"&id=" + id +
				"&surname=" + surname +
				"&email=" + email +
				"&phone=" + phone +
				"&username=" + username +
				"&password=" + password;
			xhr.open('GET',myUrl,true);
			//xhr.setRequestHeader('Access-Control-Allow-Origin','*');
			xhr.send();
			xhr.onreadystatechange = processRequest;
		
			function processRequest(e) {
				if (xhr.readyState == 4) {
					if (xhr.status == 200) {
						//console.log(xhr.responseText);
						var response = JSON.parse(xhr.responseText);
						//var successUrl = "./home.html?action=registration&";
						sessionid = randomSessionID(response["id"],1,99);
						//successUrl += "sessionid=" + sessionid;
						//successUrl += "&lang=" + lang;
						//location.href=successUrl.replace(/&$/,'');

						var urlParams = {};
						urlParams["action"] = "registration";
						urlParams["sessionid"] = sessionid;
						urlParams["lang"] = lang;
						goTo(pages.home,urlParams);
					} else {
						var response = JSON.parse(xhr.responseText);
						var urlParams = {};
						urlParams["lang"] = lang;
						urlParams["status"] = response["status"];
						urlParams["errormessage"] = escape(myLangTexts["errors"][response["errormessage"]]);
						goTo(pages.register,urlParams);
						//var errorUrl = "./register.html?lang= " + lang + "&status=" + response["status"] + "&errormessage=" + escape(response["errormessage"]);
						//location.href=errorUrl;
					}
				}
			}
		}
	}
</script>
	<script type="text/javascript" src="/static/common/languages.js"></script>
</head>

<body>
	<script>init();</script>
	
	<div class="container">
	
		<form class="form-signin">
			<h2 id="formHeader" class="form-signin-heading"><script>javascript:displayForm("formHeader",formatMessage([myLangTexts["form"]["enterdetails"]]))</script></h2>
			
			<input type="text" id="id" class="form-control" placeholder="id" required autofocus>
			<label for="id" class="sr-only"><script>displayForm("id",formatMessage([myLangTexts["customer"]["uid"]]))</script></label>
			
			<input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
			<label for="inputUsername" class="sr-only"><script>displayForm("inputUsername",formatMessage([myLangTexts["customer"]["username"]]))</script></label>
			
			<input type="text" id="inputName" class="form-control" placeholder="Surname" required autofocus>
			<label for="inputName" class="sr-only"><script>displayForm("inputName",formatMessage([myLangTexts["customer"]["surname"]]))</script></label>
			
			<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
			<label for="inputEmail" class="sr-only"><script>displayForm("inputEmail",formatMessage([myLangTexts["customer"]["email"]]))</script></label>
			
			<input type="email" id="confirmEmail" class="form-control" placeholder="Confirm Email address" required autofocus>
			<label for="confirmEmail" class="sr-only"><script>displayForm("confirmEmail",formatMessage([myLangTexts["form"]["confirm"],myLangTexts["customer"]["email"]]))</script></label>

			<input type="text" id="inputPhone" class="form-control" placeholder="Phone number" >
			<label for="inputPhone" class="sr-only"><script>displayForm("inputPhone",formatMessage([myLangTexts["customer"]["phone"]]))</script></label>
			
			<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
			<label for="inputPassword" class="sr-only"><script>displayForm("inputPassword",formatMessage([myLangTexts["customer"]["password"]]))</script></label>
			
			<input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
			<label for="confirmPassword" class="sr-only"><script>displayForm("confirmPassword",formatMessage([myLangTexts["form"]["confirm"],myLangTexts["customer"]["password"]]))</script></label>
			
			<div id="remember" class="checkbox">
				<input type="checkbox" value="remember-me"><label> <script>javascript:document.getElementById("remember").append(formatMessage([myLangTexts["signin"]["rememberme"]]))</script></label>
				<!-- <label><input type="checkbox" value="remember-me"> <script>javascript:document.getElementById("remember").append(formatMessage([myLangTexts["signin"]["rememberme"]]))</script></label>
				-->
			</div>
			<button id="submitButton" class="btn btn-lg btn-primary btn-block" type="button" onclick="register()"><script>displayForm("submitButton",formatMessage([myLangTexts["form"]["submit"]]))</script></button>
		</form>
		<script>
			if ( urlParams["action"] == "webcreation" ) {
				document.getElementById("id").defaultValue = customerId;
				document.getElementById("id").autofocus = false;
				document.getElementById("id").disabled = true;
			}
		</script>
	</div> <!-- /container -->
	<div class="links" id="links">
		<p id="already"><script>document.getElementById("links").append(myLangTexts["signin"]["already"])</script></p>
		<a id="signin" href="javascript:goTo(pages.signin,{'lang' : lang})"><script>javascript:displayMenu("signin",formatMessage([myLangTexts["signin"]["button"]]))</script></a>
	</div>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
