<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- <link rel="icon" href="/static/favicon.ico"> -->
	
	<title>VenYa Registration</title>
	
	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<!-- <link href="/static/css/signin.css" rel="stylesheet"> -->
	<link href="/static/css/arturo.css" rel="stylesheet">
	
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
	<!-- <script src="C:UsersarturoDocumentsR2ROVenYaNode_jsmongodb-testspecialist.js"></script> -->
	<script type="text/javascript" src="/static/common/parsing.js"></script>
	<script type="text/javascript">
	var sessionid;
	var lang = default_lang;
	var myLangTexts;
	var formFields = ["id","inputUsername","inputEmail","confirmEmail","inputPhone","inputPassword","confirmPassword"];
	var errorcount;

	function init() {
		parseUrl();
		if ( urlParams["lang"] != undefined && languages.indexOf(urlParams["lang"]) ) {
			lang = urlParams["lang"];
		}
		myLangTexts = languages_text[lang];

		setFormErrorHeader(urlParams,myLangTexts);
		var action = urlParams["action"];
	}

	function reset_form_color(){
		for ( var i in formFields ) {
			document.getElementById(formFields[i]).style.borderColor = "#ccc";
		}
	}

	function verify_form() {
		var form = document.querySelector("form");
		var id = form.elements.id.value;
		var username = form.elements.inputUsername.value;
		var surname = form.elements.inputName.value.toLowerCase();
		var dob = form.elements.inputDOB.value.replace("/\//g",'');
		var email = form.elements.inputEmail.value.toLowerCase();
		var confirmEmail = form.elements.confirmEmail.value.toLowerCase();
		var phone = form.elements.inputPhone.value;
		var password = form.elements.inputPassword.value;
		var confirmPassword = form.elements.confirmPassword.value;

		//reset_form_color();
		clear_error("confirmEmailError","confirmEmail");
		clear_error("confirmPasswordError","confirmPassword");
		errorcount = 0;

		if ( email != confirmEmail ) {
			format_error("confirmEmailError","confirmEmail",formatMessage([myLangTexts["customer"]["email"],myLangTexts["errors"]["notmatch"]]));
		}
			

		if ( password != confirmPassword ) {
			format_error("confirmPasswordError","confirmPassword",formatMessage([myLangTexts["customer"]["password"],"s",myLangTexts["errors"]["notmatch"]]));
		}

		if ( errorcount > 0 ) {
			//form.elements.confirmPassword.value = "";
			phone = phone.replace(/\+/,'%2B');
			return false;
		} else {
			return true;
		}
	}

	function register(){
		//if (verify_form(form,id,username,surname,email,confirmEmail,phone,password,confirmPassword)) {
		if (verify_form()) {
			var form = document.querySelector("form");
			var id = form.elements.id.value;
			var username = form.elements.inputUsername.value.replace(/\s*$/,'');
			var surname = form.elements.inputName.value.toLowerCase().replace(/\s*$/,'');
			var dob = form.elements.inputDOB.value.replace("/\//g",'');
			var email = form.elements.inputEmail.value.toLowerCase();
			var confirmEmail = form.elements.confirmEmail.value.toLowerCase();
			var phone = form.elements.inputPhone.value;
			var password = form.elements.inputPassword.value;
			var confirmPassword = form.elements.confirmPassword.value;
	
			var xhr = new XMLHttpRequest();
			var myUrl = "http://" + venya_node_server + ":" + venya_node_port + "/register?type=customer" +
				"&id=" + id +
				"&surname=" + surname +
				"&email=" + email +
				"&dob=" + dob +
				"&phone=" + phone +
				"&username=" + username +
				"&password=" + password +
				"&language=" + lang;
			xhr.open('GET',myUrl,true);
			//xhr.setRequestHeader('Access-Control-Allow-Origin','*');
			xhr.send();
			xhr.onreadystatechange = processRequest;
		
			function processRequest(e) {
				if (xhr.readyState == 4) {
					if (xhr.status == 200) {
						//console.log(xhr.responseText);
						var response = JSON.parse(xhr.responseText);
						sessionid = randomSessionID(response["id"],1,99);

						customerId = response["id"];
						lang = response["language"];
	
						var gotoParams = {};
						gotoParams["lang"] = lang;
						gotoParams["action"] = "registration";
						gotoParams["sessionid"] = sessionid;
	
						var updateValues = {};
						updateValues["id"] = customerId;
						updateValues["field"] = "sessionid";
						updateValues["newvalue"] = sessionid;
						setSessionId(updateValues,gotoParams,"customer",pages.signin,pages.home);
					} else {
						try {
							var response = JSON.parse(xhr.responseText);
							document.getElementById("errors").innerHTML = formatMessage([myLangTexts["errors"][response["errormessage"]]]);
							return false;
						} catch (err) {
							document.getElementById("errors").innerHTML = formatMessage([myLangTexts["errors"]["dbcnxerror"]]);
							return false;
						}
					}
				}
			}
		}
	}
</script>
	<script type="text/javascript" src="/static/common/languages.js"></script>
</head>

<body>
	<script>init();</script>

	<div class="subscriberarea" id="area">
		<p><script>javascript:document.getElementById("area").innerHTML = myLangTexts["zone"]["customer"].toUpperCase()</script></p>
	</div>

	<div class="errors" id="errors"></div>
	<div class="container">
	
		<form class="form-signin" id="form" onsubmit="register();return false">
			<h2 id="formHeader" class="form-signin-heading"><script>javascript:displayForm("formHeader",formatMessage([myLangTexts["form"]["enterdetails"]]))</script></h2>
		
			<fieldset>
			<input type="text" id="id" class="form-control" pattern="^[0-9a-fA-F]{24}$" oninvalid="required_field_empty(this,myLangTexts['customer']['id'],myLangTexts)" oninput="field_format_check(this,formatMessage([myLangTexts['errors']['badformat'],myLangTexts['customer']['id']]))" placeholder="id" required autofocus>
			<label id="idlabel" for="id" class="sr-only"><script>displayForm("id",formatMessage([myLangTexts["customer"]["uid"]]))</script></label>
			<span id="getId" style="display: none;"><a id="getIdLink"></a></span>
			<span id="toProvider" style="display: none;"><a id="toProviderLink"></a></span>
			<span id="idError" style"display: none;"></span>
			</fieldset>
			
			<fieldset>
			<input type="text" id="inputUsername" class="form-control" placeholder="Username" pattern="^\w{8,}$" oninvalid="required_field_empty(this,myLangTexts['customer']['username'],myLangTexts)" oninput="field_format_check(this,myLangTexts['errors']['usernameformat'])" required autofocus>
			<label for="inputUsername" class="sr-only"><script>displayForm("inputUsername",formatMessage([myLangTexts["customer"]["username"]]))</script></label>
			<span id="usernameError" style"display: none;"></span>
			</fieldset>

			<fieldset>
			<input type="text" id="inputName" class="form-control" oninvalid="required_field_empty(this,myLangTexts['customer']['surname'],myLangTexts)" oninput="setCustomValidity('')" placeholder="Surname" required autofocus>
			<label for="inputName" class="sr-only"><script>displayForm("inputName",formatMessage([myLangTexts["customer"]["surname"]]))</script></label>
			<span id="nameError" style"display: none;"></span>
			</fieldset>
			
			<fieldset>
			<input type="text" id="inputDOB" class="form-control" oninvalid="required_field_empty(this,myLangTexts['customer']['dob'],myLangTexts)" oninput="setCustomValidity('')" pattern="^[0-9]{2}\/[0-9]{2}\/[0-9]{4}" placeholder="Surname" required autofocus>
			<label for="inputDOB" class="sr-only"><script>displayForm("inputDOB",formatMessage([myLangTexts["customer"]["dob"]]))</script></label>
			<span id="dobError" style"display: none;"></span>
			</fieldset>
			
			<fieldset>
			<input type="email" id="inputEmail" class="form-control" oninput="setCustomValidity('')" oninvalid="invalid_email(this,myLangTexts)" placeholder="Email address" required autofocus>
			<label for="inputEmail" class="sr-only"><script>displayForm("inputEmail",formatMessage([myLangTexts["customer"]["email"]]))</script></label>
			<span id="emailError" style="display: none;"></span>
			</fieldset>

			<fieldset>
			<input type="email" id="confirmEmail" class="form-control" oninput="setCustomValidity('')" oninvalid="invalid_email(this,myLangTexts)"placeholder="Confirm Email address" required autofocus>
			<label for="confirmEmail" class="sr-only"><script>displayForm("confirmEmail",formatMessage([myLangTexts["form"]["confirm"],myLangTexts["customer"]["email"]]))</script></label>
			<span id="confirmEmailError" style"display: none;"></span>
			</fieldset>

			<fieldset>
			<input type="text" id="inputPhone" class="form-control" pattern="^(\+|00)?[0-9]{4,}$" oninput="field_format_check(this,myLangTexts['errors']['phoneformat'])" placeholder="Phone number" >
			<label for="inputPhone" class="sr-only"><script>displayForm("inputPhone",formatMessage([myLangTexts["customer"]["phone"]," - ",myLangTexts["form"]["optional"]]))</script></label>
			<span id="phoneError" style"display: none;"></span>
			</fieldset>

			<fieldset>
			<input type="password" id="inputPassword" class="form-control" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" oninput="field_format_check(this,myLangTexts['errors']['passwordformat'])" oninvalid="required_field_empty(this,myLangTexts['customer']['password'],myLangTexts)" placeholder="Password" required>
			<label for="inputPassword" class="sr-only"><script>displayForm("inputPassword",formatMessage([myLangTexts["customer"]["password"]]))</script></label>
			<span id="passwordError" style"display: none;"></span>
			</fieldset>
			
			<fieldset>
			<input type="password" id="confirmPassword" oninvalid="required_field_empty(this,myLangTexts['form']['confirm'].concat(myLangTexts['customer']['password']),myLangTexts)" oninput="setCustomValidity('')" class="form-control" placeholder="Confirm Password" required>
			<label for="confirmPassword" class="sr-only"><script>displayForm("confirmPassword",formatMessage([myLangTexts["form"]["confirm"],myLangTexts["customer"]["password"]]))</script></label>
			<span id="confirmPasswordError" style"display: none;"></span>
			</fieldset>
			
			<div id="remember" class="checkbox">
				<input type="checkbox" value="remember-me"><label> <script>javascript:document.getElementById("remember").append(formatMessage([myLangTexts["signin"]["rememberme"]]))</script></label>
				<!-- <label><input type="checkbox" value="remember-me"> <script>javascript:document.getElementById("remember").append(formatMessage([myLangTexts["signin"]["rememberme"]]))</script></label>
				-->
			</div>
			<!--
			<button id="clickButton" class="btn btn-lg btn-primary btn-block" type="button" onclick="register()"><script>displayForm("clickButton",formatMessage([myLangTexts["form"]["signin"]]))</script></button>
			-->
			<button id="submitButton" class="btn btn-lg btn-primary btn-block" type="submit"><script>displayForm("submitButton",formatMessage([myLangTexts["form"]["submit"]]))</script></button>
		</form>
		<script>
			if ( urlParams["action"] == "webcreation" ) {
				document.getElementById("id").defaultValue = customerId;
				document.getElementById("id").autofocus = false;
				document.getElementById("id").disabled = true;

				document.getElementById("inputName").defaultValue = decodeURIComponent(urlParams["surname"]);
				document.getElementById("inputName").autofocus = false;
				document.getElementById("inputName").disabled = true;

				document.getElementById("inputDOB").defaultValue = decodeURIComponent(urlParams["dob"]);
				document.getElementById("inputDOB").autofocus = false;
				document.getElementById("inputDOB").disabled = true;

				if ( urlParams["email"] != defaultEmail ) {
					document.getElementById("inputEmail").defaultValue = urlParams["email"];
					document.getElementById("inputEmail").autofocus = false;
					document.getElementById("inputEmail").disabled = false;
				}

				if ( urlParams["phone"] != "N/A" ) {
					document.getElementById("inputPhone").defaultValue = urlParams["phone"];
					document.getElementById("inputPhone").autofocus = false;
					document.getElementById("inputPhone").disabled = false;
				}
			} else {
				var toProviderLink = document.getElementById("toProviderLink");
				toProviderLink.setAttribute('href',pages.webcreatecustomer + "?lang=" + lang);
				toProviderLink.innerHTML = formatMessage([myLangTexts["form"]["toprovider"]]);

				var toProviderSpan = document.getElementById("toProvider");
				toProviderSpan.style.display = "block";

				var getIdLink = document.getElementById("getIdLink");
				getIdLink.setAttribute('href',pages.lostid + "?lang=" + lang);
				getIdLink.innerHTML = formatMessage([myLangTexts["form"]["getid"]]);

				var getIdSpan = document.getElementById("getId");
				getIdSpan.style.display = "block";
			}
		</script>
	</div> <!-- /container -->
	<div class="links" id="links">
		<p id="already"><script>document.getElementById("links").append(myLangTexts["signin"]["already"])</script></p>
		<a id="signin" href="javascript:goTo(pages.signin,{'lang' : lang})"><script>javascript:displayMenu("signin",formatMessage([myLangTexts["signin"]["button"]]))</script></a>
	</div>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
