/* Bootstrap styles (signin.css) */
@charset "UTF-8";

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.provider {
	background-color: #1a7a90;
	vertical-align: middle;
}

.provider table, th {
	background-color: #1a7a90;
}

/*.provider td {
	background-color: #88beca;
}*/

.cancelled {
	background-color: #c9c9ca;
}

.errors {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.container {
	text-align: center;
}

.subscriberarea {
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 25px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  /*margin-bottom: -1px;*/
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  /*margin-bottom: 10px;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .confirmPassword {
  margin-bottom: 10px;
}

/* Arturo's styles */
h1 {
	text-align: center;
}

/*h2 {
	color: blue;
}*/
.form-signin-heading {
	text-align: center;
}

.form-signin .formInvalid::-webkit-input-placeholder {
	color: red;
}

.links {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.tableCenter {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 400px;
	margin: 0 auto;
}

.settings {
	vertical-align: middle;
}

.settings table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.settings th {
	font-weight: bold;
	font-size: 1.5em;
	background-color: #c5c5c5;
	border: 1px solid black;
}

.settings tr {
	height: 30px;
	border: 1px solid black
}

.settings td {
	height: 30px;
	border: 1px solid black
}

.settings td.value {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.settings td.field {
	width: 100px;
	text-align: center;
	background-color: #dbdbdb;
	font-weight: bold;
}

.providers table {
	border: 1px solid black;
	border-collapse: collapse;
}

.providers th, td {
	border: 0;
}

.providers tr {
	border: 1px solid blue;
	border-collapse: collapse;
}

.pageContiner {
	width: 100%;
}

.instructions h3 {
	text-align: center;
}

.instructions p {
	color: #404040;
	font-family: verdana;
	font-size: 75%;
	text-align: left;
	padding-left: 50px;
	width: 95%;
}

.list {
	width: 90%;
	font-family: verdana;
	color: #404040;
	font-size: 75%;
	text-align: left;
	padding-left: 80px;
}

.list2 {
	width: 90%;
	font-family: verdana;
	font-size: 75%;
	color: #404040;
	text-align: left;
	padding-left: 110px;
}

.bottonTable table {
	border: 0;
	border-collapse: separate;
	border-spacing: 5px;
}

.bottonTable tr, th, td {
	text-align: center;
	border: 0;
	padding: 10px;
}
/*
.dropdown-menu-cell li:hover ul {
	position: absolute;
}
*/
